<!DOCTYPE html>
<html lang="en">

<head>
  <title> {{ title }} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./js/index.js">
  <script src="./js/jquery-3.6.4.min.js"></script>

</head>


<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
  </svg>
  <div class="Form px-5">
    <div class="container p-5">
      <div div class="row no-gutters m-auto" style="max-width: 620px;">
        <div class="col-lg-12 px-5 py-3">
          <a href="/">
            <img src="./img/logo.png" class="img-logo mb-3 d-flex justify-content-center mx-auto mt-3">
          </a>
          <form method="post">
            <div class="col-lg-10 mx-auto mb-3">
              <label for="username" class="form-label text-white">Tên đăng nhập</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-user"><i class="fas fa-user"></i></span>
                <input type="text" name="username" id="username" class="form-control" placeholder="Tên"
                  aria-describedby="basic-user" value={{ username }}>
              </div>
            </div>
            <div class="col-lg-10 mx-auto mb-3">
              <label for="email" class="form-label text-white">Email</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-email"><i class="fas fa-at"></i></span>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email"
                  aria-describedby="basic-email" value={{ email }}>
              </div>
            </div>

            <div class="col-lg-10 mx-auto mb-3">
              <label for="password" class="form-label text-white">Mật khẩu</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-password"><i class="fas fa-key"></i></span>
                <input type="password" name="password" id="password" class="form-control" placeholder="Mật khẩu"
                  aria-describedby="basic-password" value={{ password }}>
                <span class="eye1 eye-user input-group-text"><i class="far fa-eye"></i></span>
              </div>
            </div>

            <div class="col-lg-10 mx-auto mb-3">
              <label for="confirm_password" class="form-label text-white">Xác nhận mật khẩu</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-confirm"><i class="fas fa-key"></i></span>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control"
                  placeholder="Xác nhận mật khẩu" aria-describedby="basic-confirm" value={{ confirm_password }}>
                <span class="eye2 eye-user input-group-text"><i class="far fa-eye"></i></span>
              </div>
            </div>

            {{!-- Flash message --}}
              {{#if messageFailure}}
              <div class="col-lg-10 mx-auto" id="error-alert">
                <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center" role="alert">
                  <svg class="bi flex-shrink-0 me-2 mr-3" width="20" height="20" role="img" aria-label="Warning:">
                    <use xlink:href="#exclamation-triangle-fill" />
                  </svg>
                  <div> {{ messageFailure }} </div>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              {{/if}}

            <div class="col-lg-10 mx-auto mt-4">
              <div class="input-group">
                <button class="btn btn-block w-100" type="submit">Tiếp tục</button>
              </div>
            </div>
            <p class="text text-center mt-5 question">Bạn đã có tài khoản? <a href="/login">Đăng nhập ngay</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script>
    $(document).ready(function () {
      $('.eye1').click(function () {
        $(this).toggleClass('open');
        $(this).children('i').toggleClass('fa-eye-slash fa-eye');
        if ($(this).hasClass('open')) {
          $('#password').attr('type', 'text');
        } else {
          $('#password').attr('type', 'password');
        }
      });

      $('.eye2').click(function () {
        $(this).toggleClass('open');
        $(this).children('i').toggleClass('fa-eye-slash fa-eye');
        if ($(this).hasClass('open')) {
          $('#confirm_password').attr('type', 'text');
        } else {
          $('#confirm_password').attr('type', 'password');
        }
      });

      $('#success-alert').slideDown(function () {
        $('#success-alert').fadeIn(300).delay(3000).fadeOut(400);
      });

      $('#error-alert').slideDown(function () {
        $('#error-alert').fadeIn(300).delay(3000).fadeOut(400);
      });

    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

</body>

</html>